[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "pypi"

[packages]
requests = "*"
requests-html = "*"
loguru = "*"
paco = "*"
simplejson = "*"
python-box = "*"
maya = "*"

[dev-packages]

[requires]
python_version = "3.8"
